---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
        <li class="grey-light lh-16 border-bottom">
          <h3>
            <a class="d-block fsize-larger text-bold grey-darker lh-12 ls-1" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <p class="post-meta">
            {{ post.date | date: date_format }} |
            {% for tag in post.tags %}
              <a class="padding-small border d-inline-block" href="{{ site.baseurl }}/tags/#{{ tag | slugize }}">{{tag}}</a>
            {%- endfor -%}
          </p>
          <p class="mb-30 grey-light">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>

<!-- Pagination links -->
{%- if paginator.total_pages > 1 -%}
  <div class="mt-60 mb-30">
    {% if paginator.previous_page %}
      <a class="previous d-block padding-large border" href="{{ paginator.previous_page_path }}">&larr; prev</a>
    {% endif %}
    {% if paginator.next_page %}
      <a class="next d-block padding-large border" href="{{ paginator.next_page_path }}">next &rarr;</a>
    {%- endif -%}
</div>
{%- endif -%}
