---
layout: default
---

<div class="home">

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
        <li class="front-post">
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h3>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <p class="post-meta">
            {{ post.date | date: date_format }} |
            {% for tag in post.tags %}
              <a class="post-tag" href="{{ site.baseurl }}/tags/#{{ tag | slugize }}">{{tag}}</a>
            {%- endfor -%}
          </p>
          <p class="post-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>

<!-- Pagination links -->
{%- if paginator.total_pages > 1 -%}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">&larr; prev</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">next &rarr;</a>
    {%- endif -%}
</div>
{%- endif -%}
