---
layout: page
permalink: /tags/
title: Tags
---


<div class="pb-30 mb-30 border-bottom">
  {% for tag in site.tags %}
  <a class="padding-medium border d-inline-block mb-10" href="#{{ tag[0] }}">{{ tag[0] }}</a>
  {% endfor %}
</div>

{% for tag in site.tags %}
<span id="{{ tag[0] }}" class="padding-medium border-alt d-inline-block mb-10">{{ tag[0] }}</span>
<ul class="tree">
  {% for post in tag[1] %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
