---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.front-post {
    border-bottom: 1px solid #dee2e6;
    color: rgba(14,30,37,.70);
    line-height: 1.6;
}

.front-post:last-child {
    border-bottom: none;
}

.post-content {
    color: rgba(14,30,37,.8);
    font-size: 17px;
}

.post-link, .post-title {
    color: #0e1e25 !important;
    letter-spacing: -1px;
    font-weight: 600;
    line-height: 1.2;

}

.post-link {
    display: block;
    font-size: 1.8rem;
}

.post-title {
    font-size: 2.1rem;
}

.border-link {
    display: inline-block;
    border: 1px solid #0085d5;
    border-radius: .25em;
    color: #0085d5 !important;
}

.border-link:hover {
    background-color: #0085d5;
    text-decoration: none;
    color: #fff !important;
}

.post-tag {
    padding: 1px .45rem;
}

.pagination {
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 30px;
}

.pagination a {
    padding: .25em 1em;
}

.previous {
    float: left;
}

.next {
    float: right;
}

.footer-col-2 {
    width: calc(25% - (30px / 2));
}

.footer-col-3 {
    width: calc(50% - (30px / 2));
}

.footer-links {
    margin-left: 0;
    padding-left: 15px;
    list-style-type: circle;
}

.contact-form {
    margin: 2rem 0 2rem 0;
}

.post-excerpt {
    margin-bottom: 30px;
}

.taglist {
    padding-bottom:30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dee2e6;
}

.taglist-item {
    margin-right: 5px;
    margin-bottom: 10px;
}

.tag-item {
    list-style-type: circle;
}

#archives #timeline {
    list-style: none;
}

#archives .date {
    display: inline-block;
}

#archives li:before {
  content: '';
  background-color: rgba(222, 226, 230, 0.85);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 85px;
  width: 3px;
}

#archives li {
    position: relative;
    padding-bottom: 1em;
}

#archives li:first-child:before {
    top: 15px;
}

#archives li:last-child:before {
    height: 10px;
}

#archives #tl-header {
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 5px;
}

#archives #tl-header:after {
    content: '';
    position: absolute;
    border: 3px solid #b6bfc8;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    left: 78px;
    top: 12px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 #b6bfc8;
}

#archives #tl-content {
    padding-left: 20px;
}

#archives #tl-content:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    left: 83px;
    top: 10px;
    background-color: #b6bfc8;
    box-shadow: 0 0 3px 0 #b6bfc8;
}

#archives div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#archives #day, #archives #month {
    font-size: 16px;
    margin-right: -2px;
    width: 1.2rem;
    position: relative;
}

#archives a {
    position: relative;
    left: 40px;
}

.form-control {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: block;
    width: 95%;
    max-width: 500px;
    padding-left: .5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

#form-name, #form-email {
    height: 2.5rem;
}

#form-message {
    height: 8rem;
    padding-top: .5rem;
}

#form-submit {
    height: 2rem;
    width: 6rem;
    background: #0085d5;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: .9rem;
    border: none;
    border-radius: .25rem;
    font-weight: bolder;
}
